@font-face {
  font-family: "Plis Jakarta Sans";
  src: url(assets\fonts\PlusJakartaSans-VariableFont_wght.ttf);
}
*{
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Plis Jakarta Sans";
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
    box-sizing: border-box;
    max-width: 1280px;
      margin: 0 auto;
      padding: 1.3rem;
      text-align: center;
}

body{
  background: var(--Very-light-grayish-blue);
}
.container-grid{
  background: var(--White);
  font-size: 16px;
  padding: 25px;
  display: grid;
  max-width: 680px;
  border-radius: 15px;
  margin: 0px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "h h"
                      "c c";
}

.header-menu{
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: relative;
  
}
.header-menu a{
  text-decoration:none;
  color: var(--Grayish-blue);
  font-weight: 500;
  cursor: pointer;
}
.not-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count-badge{
  margin-left: 10px;
  background-color: var(--Blue);
  padding: 3px 13px;
  border-radius: 0.5rem;
  color: var(--White);
  font-weight: 800;
}
.cards-contaner{
  grid-area: c;
}
.content{
  border-radius: 15px;
  display: flex;
  margin-bottom: 10px;
  padding: 5px 0px;
}

.new-bg{
  background-color: var(--Very-light-grayish-blue);
}

.content img{
  height:55px;
  padding: 5px;
}

.message-n{
  margin-top: 15px;
  border:solid 1px var(--Light-grayish-blue-2);
  padding: 15px;
  border-radius: 5px;
}
.message-n:hover{
  background-color: var(--Light-grayish-blue-2);
}
.content p {
  text-align: left;
  font-size: 1rem;
  margin-left: 10px;
  flex-grow: 1;
  color: var(--Dark-grayish-blue);
}
p strong:first-child {
  margin-right: 6px;
  color:black;
}
.post-n{
  font-weight:600;
  margin-left:4px;
}
.group-n{
  color:var(--Blue);
  margin-left: 5px;
}
.time-stamp{

  margin-top:3px;
  color:var(--Dark-grayish-blue);
}
.picture-n{
  margin-left: auto;
}
.dot{
  color:var(--Red);
  font-size: 0.7rem;
  margin-left: 5px;
}

.cursor-pointer{
  cursor: pointer;
}
.hover-blue:hover{
  color:var(--Blue);
}
@media screen and (max-width:500px) {
  :root{
    padding: 5px;
  }
  .container-grid{
    padding: 5px;
  }
}

